# Top-most EditorConfig file
root = true

# Set basic coding style
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

# C-style doc comments
block_comment_start = /*
block_comment = *
block_comment_end = */

[Makefile]
indent_style = tab
