*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvguix.*
*.uvopt
*.uvoptx
*.plg
src/.project
src/.cproject
src/.settings/
*.s#?
*.b#?
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
lib/readme.txt
.idea/
.pio/
.vscode/
